for val in ['Диски', '1990е', 'Комплектующие', 'Комплектующие', 'Компьютеры', 'Диски', '1990е', 'Тест', 'Игры', 'Аудиокассеты', 'Видеокассеты', 'Компьютеры', 'Диски', '1990е', 'Комплектующие', 'Комплектующие', 'Компьютеры', 'Диски', '1990е', 'Тест', 'Игры', 'Аудиокассеты', 'Видеокассеты' ]
    label(class="select-category-item")
        input(class="select-category-item__input" type="checkbox" name="categitem[]" value="123")
        span(class="select-category-item__title")=val