div(class="popup-wrap")
    div(class="popup popup_select-categorys")
        div(class="popup__close-wrap")
            button(class="popup__close")
        div(class="popup__content")
            div тест