@import ./mixins.sass
@import ./variables.sass

@font-face
	font-family: "Roboto-Regular"
	src: url("/fonts/Roboto-Regular.eot?") format("eot")
	src: url("/fonts/Roboto-Regular.woff") format("woff")
	src: url("/fonts/Roboto-Regular.ttf") format("truetype")

html, body
	margin: 0
	padding: 0
	font-size: 14px
	font-family: Roboto-Regular

.content
	max-width: 1000px
	margin: 0 auto
	padding: 58px 20px 0 20px
	@media screen and (max-width: $mobileResolution)
		padding: 10px 20px 0 20px



























