.button {
  background-color: transparent;
  border: 1px #000000 solid;
  width: 150px;
  height: 30px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.button:hover {
  border: 1px #BDBDBD solid;
  color: #BDBDBD; }
