div(class="popup-wrap")
    div(class="popup")
        div(class="popup__close-wrap")
            button(class="popup__close")
        div(class="popup__content")

            div(class="select-category-header") Категории
            div(class="select-category")
                //selectCategoryItem
                include ../selectCategorysItem/index
                //selectCategoryItem end