div(id="selcat" class="popup-wrap" style={'display': 'none'})
    div(class="popup")
        div(class="popup__close-wrap")
            button(class="popup__close" onclick="showHideDiv('selcat')")
        div(class="popup__content")

            div(class="select-category-header") Категории
            div(class="select-category select-category_none")
                //selectCategoryItem
                include ../selectCategorysItem/index
                //selectCategoryItem end