
<div class="popup-wrap" id="selcat" style="display:none;">
  <div class="popup">
    <div class="popup__close-wrap">
      <button class="popup__close" onclick="showHideDiv('selcat')"></button>
    </div>
    <div class="popup__content">
      <div class="select-category-header">Категории</div>
      <div class="select-category select-category_none">
        <!--selectCategoryItem-->
        <label class="select-category-item">
          <input class="select-category-item__input" type="checkbox" name="categitem[]" value="123"/><span class="select-category-item__title">Диски</span>
        </label>
        <label class="select-category-item">
          <input class="select-category-item__input" type="checkbox" name="categitem[]" value="123"/><span class="select-category-item__title">1990е</span>
        </label>
        <label class="select-category-item">
          <input class="select-category-item__input" type="checkbox" name="categitem[]" value="123"/><span class="select-category-item__title">Комплектующие</span>
        </label>
        <label class="select-category-item">
          <input class="select-category-item__input" type="checkbox" name="categitem[]" value="123"/><span class="select-category-item__title">Комплектующие</span>
        </label>
        <label class="select-category-item">
          <input class="select-category-item__input" type="checkbox" name="categitem[]" value="123"/><span class="select-category-item__title">Компьютеры</span>
        </label>
        <label class="select-category-item">
          <input class="select-category-item__input" type="checkbox" name="categitem[]" value="123"/><span class="select-category-item__title">Диски</span>
        </label>
        <label class="select-category-item">
          <input class="select-category-item__input" type="checkbox" name="categitem[]" value="123"/><span class="select-category-item__title">1990е</span>
        </label>
        <label class="select-category-item">
          <input class="select-category-item__input" type="checkbox" name="categitem[]" value="123"/><span class="select-category-item__title">Тест</span>
        </label>
        <label class="select-category-item">
          <input class="select-category-item__input" type="checkbox" name="categitem[]" value="123"/><span class="select-category-item__title">Игры</span>
        </label>
        <label class="select-category-item">
          <input class="select-category-item__input" type="checkbox" name="categitem[]" value="123"/><span class="select-category-item__title">Аудиокассеты</span>
        </label>
        <label class="select-category-item">
          <input class="select-category-item__input" type="checkbox" name="categitem[]" value="123"/><span class="select-category-item__title">Видеокассеты</span>
        </label>
        <label class="select-category-item">
          <input class="select-category-item__input" type="checkbox" name="categitem[]" value="123"/><span class="select-category-item__title">Компьютеры</span>
        </label>
        <label class="select-category-item">
          <input class="select-category-item__input" type="checkbox" name="categitem[]" value="123"/><span class="select-category-item__title">Диски</span>
        </label>
        <label class="select-category-item">
          <input class="select-category-item__input" type="checkbox" name="categitem[]" value="123"/><span class="select-category-item__title">1990е</span>
        </label>
        <label class="select-category-item">
          <input class="select-category-item__input" type="checkbox" name="categitem[]" value="123"/><span class="select-category-item__title">Комплектующие</span>
        </label>
        <label class="select-category-item">
          <input class="select-category-item__input" type="checkbox" name="categitem[]" value="123"/><span class="select-category-item__title">Комплектующие</span>
        </label>
        <label class="select-category-item">
          <input class="select-category-item__input" type="checkbox" name="categitem[]" value="123"/><span class="select-category-item__title">Компьютеры</span>
        </label>
        <label class="select-category-item">
          <input class="select-category-item__input" type="checkbox" name="categitem[]" value="123"/><span class="select-category-item__title">Диски</span>
        </label>
        <label class="select-category-item">
          <input class="select-category-item__input" type="checkbox" name="categitem[]" value="123"/><span class="select-category-item__title">1990е</span>
        </label>
        <label class="select-category-item">
          <input class="select-category-item__input" type="checkbox" name="categitem[]" value="123"/><span class="select-category-item__title">Тест</span>
        </label>
        <label class="select-category-item">
          <input class="select-category-item__input" type="checkbox" name="categitem[]" value="123"/><span class="select-category-item__title">Игры</span>
        </label>
        <label class="select-category-item">
          <input class="select-category-item__input" type="checkbox" name="categitem[]" value="123"/><span class="select-category-item__title">Аудиокассеты</span>
        </label>
        <label class="select-category-item">
          <input class="select-category-item__input" type="checkbox" name="categitem[]" value="123"/><span class="select-category-item__title">Видеокассеты</span>
        </label>
        <!--selectCategoryItem end-->
      </div>
    </div>
  </div>
</div>