
<div class="popup-wrap popup-wrap_setup-categorys">
  <div class="popup popup_select-categorys">
    <div class="popup__close-wrap">
      <button class="popup__close"></button>
    </div>
    <div class="popup__content">
      <div class="setup-category-edit">
        <input class="setup-category-edit__title-input" type="text" name="new_title" placeholder="Название"/>
      </div>
      <div class="setup-category-edit__buttons-wrap">
        <button class="button button_catalog-item">Сохранить</button>
        <button class="button button_catalog-item">Удалить</button>
      </div>
    </div>
  </div>
</div>