div(class="popup-wrap popup-wrap_setup-categorys")
    div(class="popup")
        div(class="popup__close-wrap")
            button(class="popup__close")
        div(class="popup__content")
            div(class="setup-category-edit")
                input(class="setup-category-edit__title-input" type="text" name="new_title" placeholder="Название")
            div(class="setup-category-edit__buttons-wrap")
                button(class="button button_catalog-item") Сохранить
                button(class="button button_catalog-item") Удалить