
<div class="setup-categorys">
  <div class="setup-categorys__item"><span class="setup-categorys__header">Компьютеры</span>
    <!--button-->
    <button class="button button_setup-categorys-item">Редактировать</button>
    <!--button end-->
    <!--setupCategorysEditWin-->
    <div class="popup-wrap popup-wrap_setup-categorys">
      <div class="popup popup_select-categorys">
        <div class="popup__close-wrap">
          <button class="popup__close"></button>
        </div>
        <div class="popup__content">
          <div class="setup-category-edit">
            <input class="setup-category-edit__title-input" type="text" name="new_title" placeholder="Название"/>
          </div>
          <div class="setup-category-edit__buttons-wrap">
            <button class="button button_catalog-item">Сохранить</button>
            <button class="button button_catalog-item">Удалить</button>
          </div>
        </div>
      </div>
    </div>
    <!--setupCategorysEditWin end-->
  </div>
  <div class="setup-categorys__item"><span class="setup-categorys__header">Компектующие</span>
    <!--button-->
    <button class="button button_setup-categorys-item">Редактировать</button>
    <!--button end-->
    <!--setupCategorysEditWin-->
    <div class="popup-wrap popup-wrap_setup-categorys">
      <div class="popup popup_select-categorys">
        <div class="popup__close-wrap">
          <button class="popup__close"></button>
        </div>
        <div class="popup__content">
          <div class="setup-category-edit">
            <input class="setup-category-edit__title-input" type="text" name="new_title" placeholder="Название"/>
          </div>
          <div class="setup-category-edit__buttons-wrap">
            <button class="button button_catalog-item">Сохранить</button>
            <button class="button button_catalog-item">Удалить</button>
          </div>
        </div>
      </div>
    </div>
    <!--setupCategorysEditWin end-->
  </div>
  <div class="setup-categorys__item"><span class="setup-categorys__header">Видеокассеты</span>
    <!--button-->
    <button class="button button_setup-categorys-item">Редактировать</button>
    <!--button end-->
    <!--setupCategorysEditWin-->
    <div class="popup-wrap popup-wrap_setup-categorys">
      <div class="popup popup_select-categorys">
        <div class="popup__close-wrap">
          <button class="popup__close"></button>
        </div>
        <div class="popup__content">
          <div class="setup-category-edit">
            <input class="setup-category-edit__title-input" type="text" name="new_title" placeholder="Название"/>
          </div>
          <div class="setup-category-edit__buttons-wrap">
            <button class="button button_catalog-item">Сохранить</button>
            <button class="button button_catalog-item">Удалить</button>
          </div>
        </div>
      </div>
    </div>
    <!--setupCategorysEditWin end-->
  </div>
  <div class="setup-categorys__item"><span class="setup-categorys__header">Диски</span>
    <!--button-->
    <button class="button button_setup-categorys-item">Редактировать</button>
    <!--button end-->
    <!--setupCategorysEditWin-->
    <div class="popup-wrap popup-wrap_setup-categorys">
      <div class="popup popup_select-categorys">
        <div class="popup__close-wrap">
          <button class="popup__close"></button>
        </div>
        <div class="popup__content">
          <div class="setup-category-edit">
            <input class="setup-category-edit__title-input" type="text" name="new_title" placeholder="Название"/>
          </div>
          <div class="setup-category-edit__buttons-wrap">
            <button class="button button_catalog-item">Сохранить</button>
            <button class="button button_catalog-item">Удалить</button>
          </div>
        </div>
      </div>
    </div>
    <!--setupCategorysEditWin end-->
  </div>
</div>