.content
  max-width: 850px
  margin: 0 auto
  padding: 58px 0 0 0


//Import components style
@import "../../components/nav/style.sass"
@import "../../components/navLink/style.sass"
@import "../../components/navLinkSearch/style.sass"
@import "../../components/navButtonSearch/style.sass"
