div(class="nav")
    //navLinkSearch
    //include ../../components/navLinkSearch/index
    include ../../components/navButtonSearch/index
    //navLinkSearch end
    div(class="nav-wrap")
        //navLink
        include ../../components/navLink/index
        //navLink end

