div(class="search-form-wrap")
    form(class="search-form")
        div(class="search-form__input-wrap")
            input(type="text" name="title" placeholder="Название" class="search-form__input")
            button(type="submit" class="search-form__button") Найти
            //categorys
            include ../categorys/index
            //categorys and


