div(class="add-category-form-wrap")
    form(class="add-category-form")
        div(class="add-category-form__header") Добавить категорию
        div(class="add-category-form__input-wrap")
            input(type="text" name="title" placeholder="Название" class="add-category-form__input")
            button(type="submit" class="add-category-form__button") Добавить